<ion-header>
  <ion-toolbar>
    <ion-title>SaudeMental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-form #formularioprova="ngForm" onSubmit="processar(formularioprova)">
          <!-- <form (ngSubmit)="logForm()"> -->
          <ion-item>
            <ion-label>Nome</ion-label>
            <ion-input type="text" name="nome" [(ngModel)]="pessoa.nome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>idade</ion-label>
            <ion-input type="number" name="idade" [(ngModel)]="pessoa.idade"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Saúde Mental</ion-label>
            <ion-input type="text" name="saudeMental" [(ngModel)]="pessoa.saudeMental"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Raça/Cor</ion-label>
            <ion-input type="text" name="racaCor" [(ngModel)]="pessoa.racaCor"></ion-input>
          </ion-item>
          <ion-button type="submit" color="dark" block>Cadastrar Pessoa</ion-button>
          <!-- </form> -->
        </ion-form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-form #formulariopesquisa="ngForm" onSubmit="pesquisa(formulariopesquisa)">
        <!-- <form (ngSubmit)="logForm()"> -->
        <ion-item>
          <ion-label>id</ion-label>
          <ion-input type="text" name="id" [(ngModel)]="pessoa.id"></ion-input>
        </ion-item>

        <ion-button type="submit" color="dark" block>pesquisar Pessoa</ion-button>
        <!-- </form> -->
      </ion-form>
    </ion-row>
    <ion-row>
      <ion-form #formulariopesquisadois="ngForm" onSubmit="pesquisadois(formulariopesquisadois)">
        <!-- <form (ngSubmit)="logForm()"> -->
        <ion-item>
          <ion-label>raca</ion-label>
          <ion-input type="text" name="racaCor" [(ngModel)]="pessoa.racaCor"></ion-input>
        </ion-item>

        <ion-button type="submit" color="dark" block>pesquisar Pessoa</ion-button>
        <!-- </form> -->
      </ion-form>
    </ion-row>
  </ion-grid>
</ion-content>